# Handling

In [38]:
f = open('coba1.txt','r')
print(f.read(5))

Halo!

In [2]:
f = open('coba1.txt','r')
print(f.readline())

Halo! saya sedang belajar Python bersama teman teman

In [3]:
f = open('coba1.txt','r')
print(f.readline())
print(f.readline())

Halo! saya sedang belajar Python bersama teman teman

Belajar Python sangat menyenangkannnn

In [4]:
f = open('coba1.txt','r')
for x in f:
    print(x)

Halo! saya sedang belajar Python bersama teman teman

Belajar Python sangat menyenangkannnn

In [5]:
f = open('coba1.txt','r')
print(f.readline())
f.close()

Halo! saya sedang belajar Python bersama teman teman

# 5.1 Pendahuluan

In [6]:
import numpy as np
a = np.arange(15).reshape(3,5)
a

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [7]:
a.shape

(3, 5)

In [8]:
a.ndim

2

In [9]:
a.dtype.name

'int32'

In [10]:
a.itemsize

4

In [11]:
a.size

15

In [12]:
type(a)

numpy.ndarray

In [13]:
b = np.array([6,7,8])
b

array([6, 7, 8])

In [14]:
type(b)

numpy.ndarray

# 5.2 Membuat Array

In [15]:
a = np.array ([2 ,3 ,4])
a

array([2, 3, 4])

In [16]:
a.dtype

dtype('int32')

In [17]:
b = np.array ([1.2, 3.5, 5.1])
b

array([1.2, 3.5, 5.1])

In [18]:
b.dtype

dtype('float64')

Kesalahan yang biasa terjadi

In [ ]:
a = np.array (1 ,2 ,3 ,4)    # WRONG
a = np.array ([1 ,2 ,3 ,4])  # RIGHT

Array mengubah barisan dari sebuah barisan menjadi array dua dimensi, barisan dari barisan sebuah barisan menjadi array tiga dimensi, dan seterusnya.

In [21]:
b = np.array ([(1.5 ,2 ,3) , (4 ,5 ,6) ])
b

array([[1.5, 2. , 3. ],
       [4. , 5. , 6. ]])

Jenis array juga dapat secara eksplisit ditentukan pada saat pembuatan:

In [22]:
c = np.array ([[1,2] , [3,4]], dtype = complex )
c

array([[1.+0.j, 2.+0.j],
       [3.+0.j, 4.+0.j]])

Fungsi zeros menciptakan sebuah array yang berisi angka nol, fungsi ones yang menciptakan array yang berisi angka satu, dan fungsi empty menciptakan array yang isinya acak dan bergantung pada keadaan memori. Secara default, dtype dari array yang dibuat adalah float64.

In [24]:
np.zeros((3,4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [23]:
np.ones((2,3,4), dtype=np.int16) #dtype can also be specified

array([[[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]],

       [[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]]], dtype=int16)

In [25]:
np.empty((2,3))

array([[1.5, 2. , 3. ],
       [4. , 5. , 6. ]])

Untuk membuat barisan angka, NumPy menyediakan fungsi yang mirip dengan range yang outputnya berupa array dan bukan berupa list. Jika arange digunakan dengan argumen floating point, biasanya sulit memprediksi jumlah elemen yang diperoleh.

In [26]:
np.arange (10, 30 ,5)

array([10, 15, 20, 25])

In [27]:
np.arange (0,2,0.3)

array([0. , 0.3, 0.6, 0.9, 1.2, 1.5, 1.8])

Menggunakan fungsi linspace yang dapat menerima masukan berapa jumlah elemen yang kita inginkan:

In [28]:
from numpy import pi
np.linspace (0,2,9)  #9 numbers from 0 to 2

array([0.  , 0.25, 0.5 , 0.75, 1.  , 1.25, 1.5 , 1.75, 2.  ])

In [30]:
x = np.linspace (0, 2*pi ,100 ) # useful to evaluate function at lots of points
f = np.sin (x)

# 5.3 Menampilkan Array
Array satu dimensi dicetak sebagai baris, array dua dimensi sebagai matriks dan tridimensionals sebagai daftar matriks.

In [31]:
a = np.arange (6) #1d array
print (a)

[0 1 2 3 4 5]

In [32]:
b = np.arange(12) . reshape(4 ,3) #2d array
print (b)

[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]

In [34]:
c = np.arange(24) . reshape(2 ,3 ,4) #3d array
print (c)

[[[ 0  1  2  3]
  [ 4  5  6  7]
  [ 8  9 10 11]]

 [[12 13 14 15]
  [16 17 18 19]
  [20 21 22 23]]]

Jika array terlalu besar untuk ditampilkan, NumPy secara otomatis memotong bagian tengah array dan hanya mencetak ujung-ujungnya:

In [35]:
print (np.arange (10000))

[   0    1    2 ... 9997 9998 9999]

In [36]:
print (np.arange (10000) . reshape(100 ,100))

[[   0    1    2 ...   97   98   99]
 [ 100  101  102 ...  197  198  199]
 [ 200  201  202 ...  297  298  299]
 ...
 [9700 9701 9702 ... 9797 9798 9799]
 [9800 9801 9802 ... 9897 9898 9899]
 [9900 9901 9902 ... 9997 9998 9999]]

Untuk memaksa NumPy mencetak seluruh bagian array, kita dapat mengubah opsi print menggunakan set_printoptions.

In [ ]:
np.set_printoptions (threshold = 'nan')